<ion-header>

  <ion-navbar>
    <ion-title>Event's Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="details-content">
  <div #map id="map"></div> 

  <ion-list class="eventsDetail">
    <ion-item>
      <ion-row>
        <ion-col width-25>User</ion-col>
        <ion-col width-75>{{user.name}} {{user.surname}}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col width-25>Event</ion-col>
        <ion-col width-75>{{report.issue}}</ion-col>
      </ion-row>
      </ion-item>
    <ion-item>
        <ion-row>
          <ion-col width-25>Date</ion-col>
          <ion-col width-75>{{report.issueDate | date: 'dd/MM/yyyy hh:mm' }}
          </ion-col>
        </ion-row>
    </ion-item> 
    <!-- <ion-item>
        <ion-row>
          <ion-col width-25>Rating</ion-col>
          <ion-col width-75>5</ion-col>
        </ion-row>
    </ion-item>
 -->
    
  <ion-item class="actionButtons">
      <ion-row >
        <ion-col align-self-end>
          <img src="assets/icon/dislike.png"  (click)="rate('DISLIKE')" >
          <!-- <button class="rating" ion-button (click)="rate('DISLIKE')">DISLIKE</button> -->
        </ion-col>
        <ion-col align-self-end>        
          <img src="assets/icon/like.png"  (click)="rate('LIKE')" >
          <!-- <button class="rating" ion-button (click)="rate('LIKE')">LIKE</button> -->
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>


</ion-content>


